/* body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #939393;
    background-color: #191919;
}

.notecard{
    background-color: #212121;
    width: 450px;
    height: 150px;
    border-radius: 8px;
    margin: 150px auto 0px auto;
    padding: 20px;
    box-sizing: border-box;
}

.note-title{
  color: #dddddd;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notecard-thumbnail{
    width: 70px;
    height: 70px;
    border-radius: 5px;
} */

*{
    padding:0;
    margin: 0;
    font-size: 20px;
}


.box-one {
    background-color: pink;
    border: 10px solid purple;
    padding: 10px;
    margin: 60px;
    height: 100px;
    width: 100px;
  }
  
.box-two {
    background-color:lightblue;
    border: 10px solid green;
    padding: 10px;
    height: 100px;
    width: 100px; 
    margin: 80px;
    box-sizing: border-box;
}


/* select all elements with this class */

p.big { 
    background-color:purple;
}

section li { 
    background-color:brown;
}

a:hover{
    background-color:yellow;
}